body {
    background-color: #2e2e2e;
    font-family: Arial;
}

a {
    text-decoration: none;
    color: inherit;
    transition-property:font-size;
    transition-duration: 0.15s;
}
a:hover {
    font-size: 36px;
}

#title {
    text-align: center;
    color: #dde3ff;
    font-size: 30px;
}
#links {
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    -webkit-animation: fadein 1.5s;
}
#lhs {
    color: #6185b6;
    -webkit-animation: inherit;
    -webkit-animation-delay: 0.1s;
}
#fb {
    color: #7c69b7;
    -webkit-animation: inherit;
    -webkit-animation-delay: 0.3s;
}
#drive {
    color: #616ab7;
    -webkit-animation: inherit;
    -webkit-animation-delay: 0.5s;
}
#youtube {
    color: #61859b;
    -webkit-animation: inherit;
    -webkit-animation-delay: 0.7s;
}
#archlinux {
    color: #7d699b;
    -webkit-animation: inherit;
    -webkit-animation-delay: 0.9s;
}
#gsearch {
    -webkit-animation: inherit;
}

@-webkit-keyframes fadein { 
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

